span {
  font-size: 40px;
}
spana {
  font-size: 20px;
  align-items: center;
}
.headss {
  color: rgb(31, 89, 177);
  font-size: 16px;
}
.ba {
  background-image: linear-gradient(
    to right,
    rgb(255, 48, 25),
    rgb(233, 161, 119)
  );
  font-size: 20px;
}
.bb {
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  background-image: linear-gradient(rgb(255, 25, 25), rgb(255, 169, 98));
}
.bc {
  /* background-image: linear-gradient(#ffffff, #a4e2ff); */
  background-image: linear-gradient(rgb(245, 162, 162),rgb(145, 190, 241));
  padding: 3px;

}
.bd {
  background-image: linear-gradient(
    to right,
    rgb(52, 98, 224),
    rgb(174, 0, 255)
  );
}
.be{
  background-image: linear-gradient(rgb(145, 190, 241), rgb(252, 169, 169));
}
.ba:hover{
  zoom: 1.01;
  background-image: linear-gradient(
    to right,
    rgb(30, 135, 255),
    rgb(119, 33, 33)
  );
  
}

@media (max-width: 342px){
  spana{
    font-size: 15px;
        
  }
  span{
    font-size: 33px;
  }
} 